
    <section id="clients" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Our clients &amp; partners</h2>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-3 col-md-2 vcenter">
						<img src="/img/logo/dga.png" class="img-responsive" alt="DGA">
                    </div><div class="col-xs-3 col-md-2 vcenter">
						<img src="/img/logo/telecom.gif" class="img-responsive" alt="Télécom Bretagne">
                    </div><div class="col-xs-6 col-md-4 vcenter">
						<img src="/img/logo/masa.png" class="img-responsive" alt="Masa">
                    </div><div class="col-xs-6 col-md-4 vcenter">
						<img src="/img/logo/thales.png" class="img-responsive" alt="Thales">
                    </div><div class="col-xs-6 col-md-4 vcenter">
						<img src="/img/logo/dassault.jpg" class="img-responsive" alt="Dassault">
                    </div><div class="col-xs-6 col-md-3 vcenter">
						<img src="/img/logo/labsticc.png" class="img-responsive" alt="LabSTICC">
                    </div><div class="col-xs-6 col-md-4 vcenter">
						<img src="/img/logo/e3s.png" class="img-responsive" alt="E3S">
                    </div><div class="col-xs-3 col-md-2 vcenter">
						<img src="/img/logo/enstabr.jpg" class="img-responsive" alt="ENSTA Bretagne">
                    </div><div class="col-xs-6 col-md-3 vcenter">
						<img src="/img/logo/tudelft.jpeg" class="img-responsive" alt="TU Delft">
                    </div><div class="col-xs-3 col-md-2 vcenter">
						<img src="/img/logo/imascap.png" class="img-responsive" alt="Imascap">
                    </div>
                </div>

			</div>
    </section>
