
    <section id="services" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Services</h2>
                        <p class="text-muted">What can Deev Interaction do for you?</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                                <div class="feature-item">
                                    <i class="icon-graph text-primary"></i>
                                    <h3>Dataviz</h3>
                                    <p class="text-muted">Interactive data visualisation on the web, mobile, or any other platform</p>
                                </div>
                            </div>
                <div class="col-md-3">
                                <div class="feature-item">
                                    <i class="icon-chemistry text-primary"></i>
                                    <h3>Research &amp; Development</h3>
                                    <p class="text-muted">We do this</p>
                                </div>
                            </div>
                <div class="col-md-3">
                                <div class="feature-item">
                                    <i class="icon-present text-primary"></i>
                                    <h3>Free to Use</h3>
                                    <p class="text-muted">As always, this theme is free to download and use for any purpose!</p>
                                </div>
                            </div>
                <div class="col-md-3">
                                <div class="feature-item">
                                    <i class="icon-screen-tablet text-primary"></i>
                                    <h3>Mobile development</h3>
                                    <p class="text-muted">Support for your mobile app project, from UX/UI to architecture &amp; cloud integration</p>
                                </div>
                            </div>
            </div>
    </section>
